use QuanLyVT
SELECT*FROM TONKHO
--5.  Cho biết phiếu đặt hàng nào chưa nhập hàng.
SELECT DONDH.*
FROM DONDH
WHERE SoDH NOT IN (SELECT SoDH FROM PNHAP)
--6.  Cho biết những mặt hàng nào chưa được đặt hàng bao giờ.
SELECT VATTU.* FROM VATTU
WHERE MAVT  NOT IN (SELECT MAVT FROM CTDONDH)
--7.  Cho biết nhà cung cấp nào có nhiều đơn đặt hàng nhất.
-- CACH 1: TRUY VAN CON 
SELECT NHACC.MANHACC, TENNHACC,DIACHI, COUNT(*)
FROM NHACC INNER JOIN DONDH ON DONDH.MANHACC= NHACC.MANHACC
GROUP BY NHACC.MANHACC, TENNHACC,DIACHI
HAVING COUNT(*) >= ALL (SELECT COUNT(*) FROM DONDH GROUP BY MANHACC)

--CACH 2: SU DUNG SELECT TO N (ODER BY)
SELECT TOP 1 NHACC.MANHACC, TENNHACC,DIACHI, COUNT(*)
FROM NHACC INNER JOIN DONDH ON DONDH.MANHACC= NHACC.MANHACC
GROUP BY NHACC.MANHACC, TENNHACC,DIACHI
ORDER BY COUNT(*) DESC
-- CACH 3:  SU DUNG SELECT TP N VOI WITH TIES
SELECT TOP 1 WITH TIES NHACC.MANHACC, TENNHACC,DIACHI, COUNT(*)
FROM NHACC INNER JOIN DONDH ON DONDH.MANHACC= NHACC.MANHACC
GROUP BY NHACC.MANHACC, TENNHACC,DIACHI
ORDER BY COUNT(*) ASC

--8.  Cho biết vật tư nào có tổng số lượng xuất bán là nhiều nhất
SELECT TOP 1 WITH TIES CTPXUAT.MAVT, VATTU.TENVT, DVTINH,PHANTRAM,SUM(SLXUAT)
FROM VATTU INNER JOIN CTPXUAT ON CTPXUAT.MAVT= VATTU.MAVT
GROUP BY CTPXUAT.MAVT, VATTU.TENVT, DVTINH,PHANTRAM
ORDER BY SUM(SLXUAT) DESC 

--9.  Cho biết đơn đặt hàng nào có nhiều mặt hàng nhất.
SELECT TOP 1 WITH TIES CTDONDH.SoDH,NgayDH,MANHACC,COUNT(*)
FROM DONDH INNER JOIN CTDONDH ON CTDONDH.SoDH= DONDH.SoDH
GROUP BY CTDONDH.SoDH,NgayDH,MANHACC
ORDER BY COUNT(*) DESC

--10.  Cho biết tình hình đặt hàng trong từng ngày: ngày đặt hàng, mã vật tư, số lượng đặt.
SELECT NgayDH, MAVT,SUM(SLDAT)
FROM DONDH INNER JOIN CTDONDH ON CTDONDH.SoDH= DONDH.SoDH
GROUP BY NgayDH,MAVT

--11.  Thống kê tình hình đặt trong từng tháng của mỗi năm, gồm: Năm tháng, mã vật tư, tên vật tư, tổng số lượng đặt hàng.
SELECT CONVERT(CHAR(6), NgayDH,112), CTDONDH.MAVT,TENVT,SUM(SLDAT)
FROM ((DONDH INNER JOIN CTDONDH ON CTDONDH.SoDH= DONDH.SoDH)
           INNER JOIN VATTU ON VATTU.MAVT= CTDONDH.MAVT )
GROUP BY CONVERT(CHAR(6), NgayDH,112), CTDONDH.MAVT,TENVT
           
--12.  Thống kê tình hình nhập hàng tương tự tình hình đặt hàng.

--13.  Hiển thị danh sách các vật tư trong bảng VATTU sắp xếp theo thứ tự tên vật tư giảm dần.
SELECT * FROM VATTU
ORDER BY TENVT DESC